%h3 Add your public key

%form{:action => 'add', :method => 'POST'}
  %label
    id
    %input{:type => 'text', :name => 'key[id]'}
  %br
  %label
    key
    %input{:type => 'text', :name => 'key[value]', :size => 80}
  %br
  %input{:type => 'submit'}
