%p
  Keys:
  %ul#key-list

:javascript
  $(function () {
    $.getJSON('/list', function (data) {
      _.each(data, function (name) {
        $('#key-list').append($('<li></li>').text( name ));
      });
    });
  });
